.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 10px;
    background: linear-gradient(to left, #ece9e6, #ffffff);
    justify-items: center;
}

.selected-products {
    position: fixed;
    top: auto;
    right: 4rem;
}

.selected-products h2 {
    text-align: center;
}

@media (min-width: 420px) and (max-width: 680px) {
    .shop-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}