.cart-info h4 {
    /* width: 100%; */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.random-product {
    display: flex;
    margin-left: 16px;
}

.random-product img {
    width: 60px;
    margin-right: 10px;
}

.cart-btn {
    margin: 16px;
}

/* Cart button Style */
.choose-btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin-right: 10px;
    padding: 13px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.choose-btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.remove-btn-grad {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    /* margin: 10px; */
    padding: 13px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.remove-btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media (min-width: 420px) and (max-width: 680px) {
    .choose-btn-grad {
        margin-bottom: 10px;
    }
}