.item {
    display: flex;
    margin: 20px;
}

.item img {
    width: 50px;
    padding-right: 10px;
}

@media (min-width: 412px) and (max-width: 680px) {
    .item {
        margin: 10px;
    }
    
    .item img {
        width: 42px;
    }
}